:root {
  --primary-color: #1a52f1;
  --tertiary-color: #000000;
  --tertiary-alt-color: #ffffff;

  --text-primary: #595959;
  --text-secondary: #c3c3c3;
  --text-secondary-light: #e3e3e3;
  --text-tertiary: #ffffff;
  --ash: #c4c4c4;

  --header-bg-color: #ffffff;
  --button-bg-color: #4caf50;
  --button-text-color: #ffffff;

  --header-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  --header-box-shadow-mobile: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  color: var(--text-primary);
  transition: all 0.3s;
  scroll-behavior: smooth;
}

/* General Stylings */

/* Hide scrollbars for all browsers while maintaining scroll functionality */
/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For IE and Edge */
* {
  -ms-overflow-style: none;
}

.section-container {
  padding: 100px 120px;
}

@media screen and (max-width: 767px) {
  .section-container {
    padding: 80px 20px !important;
  }
}

a,
.btn-link {
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--primary-color);
  background-color: transparent;
}

input,
select,
textarea {
  box-shadow: none !important;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.btn {
  font-family: 'Inter', sans-serif;
}

.heading {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.sub-heading {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
}

.form-control,
.form-select {
  border: 1px solid var(--ash) !important;
  border-radius: 5px;
}
.form-control::placeholder {
  color: var(--ash) !important;
}

/* Header */

.site-header {
  z-index: 1000;
  padding: 40px 120px !important;
}
@media screen and (max-width: 767px) {
  .site-header {
    padding: 20px !important;
  }
}

.site-header nav,
.site-header .signup-btn,
.site-header .site-name-bar {
  border-radius: 50px;
  background-color: var(--header-bg-color);
  padding: 11px 20px !important;
  width: fit-content !important;
  height: 45px !important;
  box-shadow: var(--header-box-shadow);
  color: var(--tertiary-color);
}

.site-header .signup-btn {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: var(--text-primary);
}

.site-header .site-logo {
  width: 30px;
}

.site-header .site-name {
  width: fit-content;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.site-header nav li.nav-item {
  list-style: none;
}

.site-header nav .nav-link {
  padding: 0 !important;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 767px) {
  .site-header .site-name-bar {
    padding: 11px 10px !important;
    border-radius: 10px;
    box-shadow: var(--header-box-shadow-mobile);
  }

  .site-header nav {
    background-color: transparent !important;
    padding: 20px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: fit-content;
    padding: 0 !important;
  }

  .site-header .list-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color) !important;
    background-image: url('./assets/img/illustration-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px !important;
  }

  .site-header .navbar-toggler {
    display: block;
    width: 45px;
    height: 45px;
    border: none !important;
    border-radius: 50px !important;
    background-color: var(--header-bg-color) !important;
    padding: 6px 8px !important;
    box-shadow: var(--header-box-shadow-mobile);
    margin-left: auto !important;
  }

  .site-header .navbar-toggler.cancel-btn {
    padding: 8px !important;
  }

  .site-header nav ul {
    margin-top: 70px !important;
  }

  .site-header nav li.nav-item {
    color: var(--text-tertiary);
  }

  .site-header .action-bar {
    width: 100%;
  }

  .site-header .signup-btn {
    box-shadow: var(--header-box-shadow-mobile);
  }
}

/* Hero Section */

.hero {
  position: relative !important;
  background-color: var(--primary-color);
  background-image: url('./assets/img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
  overflow: hidden !important;
  padding-top: 20px !important;
}

.hero-inner {
  margin: auto;
  margin-top: 150px;
}

.hero .welcome-heading {
  font-size: 67px !important;
  font-weight: 800 !important;
  color: var(--button-text-color);
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
  position: relative;
  display: inline-block;
}

/* hidden state during switch */
.hero .welcome-heading.fade-out {
  opacity: 0;
  transform: translateY(5px);
}

.hero .welcome-para {
  max-width: 650px;
  color: var(--button-text-color);
}

.hero .cta-box {
  width: fit-content;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.hero .cta-btn {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 700;
  background-color: var(--tertiary-alt-color);
}

.hero .hero-hand-img {
  margin-left: 50%;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .hero {
    height: fit-content !important;
    padding-bottom: 0 !important;
  }

  .hero-inner {
    margin-top: 130px !important;
  }

  .hero .welcome-heading {
    font-size: 48px !important;
    margin-bottom: 15px !important;
  }

  .hero .welcome-para {
    text-align: center;
    /* font-size: 16px; */
    margin-top: 20px;
  }

  .hero .hero-hand-img {
  }
}

/* Why Averion Section */

section.why-averion .section-text-box {
  max-width: 520px;
  margin: auto;
}

/* Card section */

.card-cont-illustration {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.card {
  padding: 25px 15px;
  width: 100%;
  height: 490px;
  border-radius: 15px;
  border: 1px solid var(--ash);
  overflow: hidden;
}

.card .icon-badge {
  width: 30px;
}

.card .text-box {
  margin-top: 20px;
}

.card p {
  font-size: 18px;
}

.card .card-img-box {
  height: 200px;
}

.card .card-img-box.box1 {
  background-color: #c4da00;
}

.card .card-img-box.box2 {
  background-color: #558248;
}

.card .card-img-box.box3 {
  background-color: #a2421b;
}

.card .card-img {
  width: 200px;
  margin-left: 50%;
  transform: translate(-50%, 20px);
}

@media screen and (max-width: 767px) {
  section.why-averion .section-text-box {
    max-width: 100%;
  }

  .card-container {
    margin-top: 220px !important;
  }

  .card-cont-illustration {
    width: 200px;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

/* What You Love Section */

section.what-you-love {
}

section.what-you-love .heading {
  color: var(--text-secondary-light);
}

section.what-you-love .row-container {
  background-color: var(--primary-color);
  position: relative;
}
/* Torn effect at the bottom */
section.what-you-love .row-container img.after {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  z-index: -1;
}

section.what-you-love .row-container .happybuyer {
  position: absolute;
  top: 0;
  right: 100px;
  transform: translateY(-46%) rotate(15deg);
  width: 300px;
}

section.what-you-love .row-container .row {
  background-color: var(--primary-color);
  padding: 10px 0;
}

section.what-you-love .row-container .img-box {
  width: fit-content;
  padding: 20px;
  border-radius: 15px;
  background-color: #229bf4;
}

section.what-you-love .row-container .img-box img {
  width: 100%;
}

section.what-you-love .row-container .sub-heading {
  color: var(--text-tertiary);
}

section.what-you-love .row-container p {
  color: var(--text-secondary);
}

@media screen and (max-width: 767px) {
  section.what-you-love .section-text-box {
    padding-top: 40px !important;
    padding-bottom: 20px !important;
  }

  section.what-you-love .heading {
    width: 50%;
    margin: 0 !important;
  }

  section.what-you-love .row-container .happybuyer {
    top: 0;
    right: 0;
    width: 250px;
  }

  section.what-you-love .row-container {
    padding-top: 150px !important;
  }

  section.what-you-love .row-container .row {
    margin-bottom: 30px !important;
  }
  section.what-you-love .row-container .row:last-child {
    margin-bottom: 0 !important;
  }

  section.what-you-love .row-container .img-box {
    margin-bottom: 20px;
  }

  section.what-you-love .row-container img.after {
    bottom: -100px;
    left: 0;
    width: auto;
  }
}

/* Newsletter Section */

.newsletter-section {
  padding-bottom: 165px;
  padding-top: 165px;
}

.newsletter-section .heading {
  color: var(--text-secondary-light);
}

.newsletter-section p {
  width: 85%;
}

.newsletter-section .newsletter-form label {
  font-size: 14px;
  font-weight: 500;
}

.newsletter-section .newsletter-form .form-control {
  width: 80%;
  font-size: 16px;
}

.newsletter-section .newsletter-form .submit-btn {
  font-size: 16px;
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--text-tertiary);
}

.newsletter-section .nl-img {
  position: absolute;
  top: 20px;
  left: -30px;
  width: 470px;
}

@media screen and (max-width: 767px) {
  .newsletter-section {
    padding-bottom: 240px !important;
    padding-top: 150px !important;
  }

  .newsletter-section p {
    width: 100% !important;
    /* margin-bottom: 20px !important; */
  }

  .newsletter-section .newsletter-form .form-control {
    width: 100% !important;
  }

  .newsletter-section .nl-img {
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    /* top: -80px; */
  }
}

/* Footer Section */

.site-footer {
  background-color: var(--tertiary-color);
  padding: 60px 120px !important;
}

.site-footer .logo-container {
  width: fit-content;
}

.site-footer .paragraph {
  font-size: 16px;
  color: var(--text-secondary-light);
  max-width: 480px;
}

.site-footer .site-name {
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  color: var(--text-tertiary);
}

.site-footer .nav-bar-heading {
  color: var(--text-tertiary);
  margin-bottom: 20px;
  font-size: 20px;
}

.site-footer .nav-bar {
  padding: 0 !important;
}

.site-footer .nav-bar li {
  list-style: none;
  color: var(--text-tertiary);
  margin-top: 5px;
}

.site-footer .nav-bar li a {
  color: var(--text-secondary-light);
  text-decoration: none;
  font-size: 15px;
}
.site-footer .nav-bar li a:hover {
  color: var(--text-secondary);
}

hr.footer-separator {
  border: none;
  background: linear-gradient(
    to right,
    transparent,
    var(--tertiary-alt-color),
    transparent
  );
  height: 3px;
}

.site-footer .copryright-text {
  color: var(--text-secondary-light);
  font-size: 15px;
}

.site-footer .social-icon-container {
  width: 160px;
  margin-left: auto;
}

.site-footer .social-icon {
  width: 24px;
}
.site-footer .social-icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .site-footer {
    padding: 60px 20px !important;
    text-align: center !important;
  }

  .site-footer .paragraph {
    margin: auto;
  }

  .site-footer .logo-container {
    margin: auto;
    /* margin-bottom: 20px !important; */
  }

  .site-footer .nav-bar {
    margin-bottom: 10px !important;
  }

  .site-footer .nav-bar-heading {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
  }

  .site-footer .nav-bar li {
    list-style: none;
    color: var(--text-tertiary);
    margin-top: 5px;
  }

  .site-footer .social-icon-container {
    width: 100%;
    margin: auto !important;
    margin-bottom: 20px !important;
  }
}

/************************************************************************************************
                                        CONTACT PAGE
************************************************************************************************/

.contact-hero {
  height: 500px;
  width: 100%;
  background-color: var(--primary-color);
  background-image: url('./assets/img/illustration-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-hero img.hero-illustration {
  width: 30%;
  top: 10%;
}

section.contact-form-section {
  height: 500px;
}

.contact-form-container {
  transform: translateY(-30%);
  background-color: var(--tertiary-alt-color);
  border-radius: 20px;
  padding: 50px 150px 20px;
}

.contact-form-container .section-text-box {
  width: 520px;
  margin: auto;
}

.contact-form * {
  font-size: 14px;
}

.contact-form label {
  margin-bottom: 8px;
}

.contact-form textarea {
  height: 130px;
  resize: none;
}

.contact-form .submit-btn {
  width: fit-content;
  display: block;
  margin: auto;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border-radius: 4px;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .contact-hero {
    height: 800px;
  }

  .contact-hero img.hero-illustration {
    width: 90%;
    top: 5%;
  }

  section.contact-form-section {
    height: 350px;
  }

  .contact-form-container {
    transform: translateY(-72%);
    padding: 40px 20px;
  }

  .contact-form-container .section-text-box {
    width: 100%;
  }

  .contact-form-container .section-text-box p,
  .contact-form-container .section-text-box p * {
    font-size: 18px;
  }

  .contact-form .submit-btn {
    width: 100%;
  }
}

/************************************************************************************************
                                  LOGIN / REGISTER / AUTH PAGE
************************************************************************************************/

/* General OTP Input Styling */
.otp-container {
display: flex;
gap: 10px;
}
.otp-box {
width: 50px;
height: 50px;
font-size: 24px;
text-align: center;
border: 2px solid #ccc;
border-radius: 8px;
outline: none;
transition: border-color 0.3s, box-shadow 0.3s;
}
.otp-box:focus {
border-color: var(--primary-color);
box-shadow: 0 0 5px var(--primary-color);
}
.otp-box.active {
border-color: var(--primary-color);
box-shadow: 0 0 5px var(--primary-color);
}

/* Auth screens */
section.auth-screen {
  height: 100vh !important;
}

section.auth-screen .il-sect {
  flex: 4;
  background-color: var(--primary-color);
}

section.auth-screen .il-sect .logo-cont {
  width: fit-content;
}
section.auth-screen .il-sect .logo-cont .text {
  color: var(--text-tertiary);
}

section.auth-screen .il-sect img.illustration {
  width: 120%;
}

section.auth-screen .auth-sect {
  flex: 7;
  position: relative;
  height: 100% !important;
}

.auth-sub-sect {
  width: 560px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow-y: auto !important;
  padding-top: 10px !important;
  padding-bottom: 150px !important;
}

.auth-sub-sect .section-text-box .heading {
  font-family: 'Space Grotesk';
}

.auth-sub-sect .section-text-box p {
  font-size: 16px;
}

.auth-form label {
  margin-bottom: 7px;
  font-size: 14px;
}

.auth-form .form-control,
.auth-form .form-control::placeholder {
  font-size: 16px;
}

.auth-form .forgot-pass-link {
  font-size: 16px;
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
}

.auth-form .btn-group {
  width: 245px;
  margin: auto;
}

.auth-sub-sect .btn-group .submit-btn {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--text-tertiary);
}

.auth-sub-sect .btn-group .alt-btn {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* Step type btn-group */
.auth-sub-sect .btn-group.step {
  width: fit-content;
  margin: auto;
}
@media screen and (max-width: 767px) {
  section.auth-screen .il-sect {
    display: none;
  }
  .auth-sub-sect .btn-group.step {
    width: 100%;
  }
  .auth-sub-sect .btn-group.step .submit-btn {
    order: 1;
    width: 100%;
  }
  .auth-sub-sect .btn-group.step .alt-btn {
    order: 2;
    width: 100%;
  }
}

footer.auth-footer {
  padding: 0 20px !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--tertiary-alt-color);
}

footer.auth-footer .inner {
  border-top: 1px solid var(--ash);
  padding: 20px 0;
}

footer.auth-footer p.copyright {
  font-size: 14px;
  color: var(--ash);
}

@media screen and (max-width: 767px) {
  section.auth-screen {
    height: 100%;
  }

  section.auth-screen .il-sect {
    flex: 400px;
    background-color: var(--primary-color);
  }

  .auth-sub-sect {
    width: 100%;
    padding: 30px 20px 150px !important;
  }

  .auth-sub-sect .section-text-box * {
    text-align: center;
  }

  .auth-sub-sect .btn-group {
    width: 100%;
  }

  /* footer.auth-footer {
    position: static !important;
  } */
}

/* REGISTER PAGE */
.photo-upload-container .heading {
  font-size: 24px;
  color: var(--primary-color);
  padding: 0 0 7px;
  border-bottom: 1px solid var(--ash);
}

.photo-upload-container .img-preview-cont {
  width: 245px;
}

.photo-upload-container .preview-img-box {
  width: 245px;
  height: 245px;
  overflow: hidden;
  background-color: #d9d9d9;
}

.photo-upload-container .upload-btn {
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-tertiary);
}

.photo-upload-container .upload-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.photo-upload-container .upload-btn * {
  fill: var(--text-tertiary);
  color: var(--text-tertiary);
  font-size: 14px;
}
